- @projects.each do |project|
  .left
    %h2= project.name
  .buttons
    = link_to 'Destroy', project_path(project), :method => :delete, :class => 'button minimal'
    = link_to 'New Suite', new_project_suite_path(project), :class => 'button minimal'
  .clr
  .sub_section
    - project.suites.each do |suite|

      .left
        %h3= suite.name
      .buttons
        = link_to 'Edit', edit_suite_path(suite), :class => 'button minimal'
        = link_to 'Destroy', suite_path(suite), :method => :delete, :class => 'button minimal'
      .clr
      %ul
        - suite.suite_runs.reverse[0, 10].each do |run|
          %li
            = link_to "#{run.id} - #{run.status}", suite_run_path(run)

